import styled from 'styled-components';

const Span = styled.span`
background-color: red;
padding: 5px;
border-radius: 50%;

    ${props =>
    props.isOnline && 
    css` background-color: green;
    `};
   
`